<div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">SI No</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Publication</th>
              <th scope="col">No of Pages</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of books,let i=index">
              <th scope="row">{{i+1}}</th>
              
              <td>{{book.title}}</td>
              <td>{{book.author}}</td>
              <td>{{book.publication}}</td>
              <td>{{book.noPages}}</td>
              <td>
                <button type="button" class="btn btn-success" (click)="editBook(book._id)">Update</button>
                <button type="button" class="btn btn-danger" (click)="deleteBook(book._id)">Delete</button>
              </td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
  </div>